#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Flsun S1
# For Firmware Version 1.0.5.2
#
# Guislain Cyril


########################################
# Included Files
########################################

[include flsun_func.cfg]


########################################
# Printer Settings
########################################

[printer]
kinematics: delta
max_velocity: 3000
max_accel: 40000
max_accel_to_decel: 6000
square_corner_velocity: 5
max_z_velocity: 3000
delta_radius: 183
print_radius: 183
minimum_z_position: -5
x_size_offset: 0
y_size_offset: 0


########################################
# X Stepper Motor
########################################

[stepper_a]
step_pin: PD6
dir_pin: !PD11
enable_pin: !PD10
microsteps: 16
rotation_distance: 60
endstop_pin: ^PD9
position_endstop: 435
arm_length: 385
homing_speed: 50
homing_retract_dist: 3

[output_pin motor_cali_a]
pin: PD13
pwm: False
value: 0

[gcode_button motor_a]
pin: PD14
press_gcode:
release_gcode:


########################################
# Y Stepper Motor
########################################

[stepper_b]
step_pin: PD15
dir_pin: !PE9
enable_pin: !PE8
microsteps: 16
rotation_distance: 60
endstop_pin: ^PE7
position_endstop: 435
arm_length: 385

[output_pin motor_cali_b]
pin: PE15
pwm: False
value: 0

[gcode_button motor_b]
pin: PD8
press_gcode:
release_gcode:


########################################
# Z Stepper Motor
########################################

[stepper_c]
step_pin: PE3
dir_pin: !PC5
enable_pin: !PA4
microsteps: 16
rotation_distance: 60
endstop_pin: ^PA3
position_endstop: 435
arm_length: 385

[output_pin motor_cali_c]
pin: PB0
pwm: False
value: 0

[gcode_button motor_c]
pin: PB1
press_gcode:
release_gcode:


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE4
microsteps: 16
rotation_distance: 4.5
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB8
sensor_type: RT 100K 3950
pullup_resistor: 510
sensor_pin: PC2
min_temp: 0
max_temp: 370
max_extrude_cross_section: 50
max_extrude_only_distance: 500
min_extrude_temp: 180
pressure_advance: 0.001 # If the value is less than 0.002, Pressure Advance value will be automatically adjusted by the firmware. If it's greater than 0.002, the defined value will be used.
control: pid
pid_kp: 25.563
pid_ki: 1.794
pid_kd: 91.068

[tmc5160 extruder]
cs_pin: PD7
spi_speed: 500000
spi_software_sclk_pin: PA6
spi_software_mosi_pin: PA5
spi_software_miso_pin: PC4
sense_resistor: 0.0375
run_current: 1.2
#hold_current: 0.300
interpolate: True
stealthchop_threshold: 0


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PD5
sensor_pin: PC1
sensor_type: RT 100K 3950
min_temp: -5
max_temp: 130
control: pid
pid_kp: 40.537
pid_ki: 1.890
pid_kd: 217.381

[heater_generic HotBed1]
gcode_id: HB1
heater_pin: PB3
sensor_pin: PC0
sensor_type: RT 100K 3950
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 52.107
pid_Ki: 1.720
pid_Kd: 394.714

[bed_mesh]
speed: 100
horizontal_move_z: 7
mesh_radius: 156
mesh_origin: 0,0
mesh_pps: 4,4
round_probe_count: 9
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
fade_start: 0.2
fade_end: 2
fade_target: 0


########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor]
pause_on_runout: False
switch_pin: PA11

[filament_motion_sensor my_sensor]
detection_length: 18.0
extruder: extruder
switch_pin: PA10
pause_on_runout: False
runout_gcode:
  {% if printer.print_stats.state == "printing" %}
    {% if printer["filament_switch_sensor filament_sensor"].filament_detected %}
      M117 Filament clog detected!
      M600
    {% else %}
      M117 Filament runout detected!
      _PAUSE_AFTER_DISTANCE D={650}
    {% endif %}
  {% endif %}


########################################
# Fans Settings
########################################

[fan]
pin: PC7
cycle_time: 0.00005
max_power: 0.90

[heater_fan heat_sink_fan]
pin: PA2
heater_temp: 50.0
shutdown_speed: 0

[heater_fan motherboard_fan]
pin: PB5
heater_temp: 50.0

[fan_generic box_fan]
pin: PB4


########################################
# Drying Box Settings
########################################

[fan_generic drying_box_fan]
pin: PA8

[output_pin drying_box_heater]
pin: PA9
pwm: True
value: 0


########################################
# Probe Settings
########################################

[probe]
pin: !PD4
x_offset: 0
y_offset: 0
z_offset: -0.25
speed: 10
samples: 2
samples_result: average
sample_retract_dist: 5
samples_tolerance: 0.05
samples_tolerance_retries: 5


########################################
# Delta Calibration Settings
########################################

[delta_calibrate]
radius: 156
horizontal_move_z: 10
speed: 100


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
gcode:
  {% if printer["gcode_macro RESUME"].m600_state == 1 %}
    M117 NOZZLE HEATING STOPPED FOR INACTIVITY!
    M104 S0
    M117 HEAT AGAIN AND LOAD NEW FILAMENT BEFORE RESUME!
  {% else %}
    TURN_OFF_HEATERS
    M84
  {% endif %}
timeout: 172800

[pause_resume]

[virtual_sdcard]
path: ~/printer_data/gcodes

[save_variables]
filename: ~/printer_data/config/variables.cfg
   
[gcode_arcs]
resolution: 1.0

[display_status]

[exclude_object]

[respond]

[force_move]
enable_force_move: True


########################################
# Input Shaper Settings
########################################

[adxl345]
cs_pin: PE13
spi_speed: 100000
spi_software_sclk_pin: PE10
spi_software_mosi_pin: PE11
spi_software_miso_pin: PE12
rate: 3200

[resonance_tester]
probe_points: 0, 0, 20
accel_chip: adxl345
min_freq: 1
max_freq: 133
accel_per_hz: 300

[input_shaper]
shaper_type_x = zero_zv
shaper_freq_x = 41.6
shaper_type_y = zero_zv
shaper_freq_y = 40.0


########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


########################################
# Laser Settings
########################################

[output_pin laser]
pin: PA1
pwm: False
value: 0


########################################
# Power Loss Settings
########################################

[filament_switch_sensor power_loss]
pause_on_runout: False
switch_pin: PD3
event_delay: 0.01
pause_delay: 0.01
runout_gcode:
  {% if printer.print_stats.state == "printing" %}
    {% set file_position = printer.virtual_sdcard.file_position %}
    SAVE_VARIABLE VARIABLE=file_position VALUE={file_position}
    {% set e_pos = printer.gcode_move.gcode_position.e %}
    SAVE_VARIABLE VARIABLE=e_pos VALUE={e_pos}
    {% set x_pos = printer.gcode_move.gcode_position.x %}
    SAVE_VARIABLE VARIABLE=x_pos VALUE={x_pos}
    {% set y_pos = printer.gcode_move.gcode_position.y %}
    SAVE_VARIABLE VARIABLE=y_pos VALUE={y_pos}
    {% set z_pos = printer.gcode_move.gcode_position.z %}
    SAVE_VARIABLE VARIABLE=z_pos VALUE={z_pos}
    {% set print_duration = printer.print_stats.print_duration %}
    SAVE_VARIABLE VARIABLE=print_duration VALUE={print_duration}
    {% set fan_speed = printer.fan.speed|float %}
    SAVE_VARIABLE VARIABLE=fan_speed VALUE={fan_speed}
    {% set nozzle_temp = printer.extruder.target|float %}
    SAVE_VARIABLE VARIABLE=nozzle_temp VALUE={nozzle_temp}
    {% set bed_temp = printer.heater_bed.target|float %}
    SAVE_VARIABLE VARIABLE=bed_temp VALUE={bed_temp}
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True              
    STEPPER_STOP
    SHUTDOWN
    G4 P5000
  {% endif %} 


########################################
# LED Settings
########################################

[output_pin box_led]
pin: PC6
pwm: True
value: 1
cycle_time: 0.0010

[output_pin led_white]
pin: PA12
pwm: True
value: 1
cycle_time: 0.010

[output_pin led_orange]
pin: PD1
pwm: True
value: 0
cycle_time: 0.010

[output_pin led_red]
pin: PD0
pwm: True
value: 0
cycle_time: 0.010


########################################
# Relay Settings
########################################

[output_pin relay_pin]
pin: PE1
pwm: False
value: 0
